{% import "/includes/macros/form.twig" as forms %}

{% if content.id %}
	<h1>Edit '{{ content.name }}' domain</h1>
{% else %}
	<h1>Add a new domain</h1>
{% endif %}

<form class="validate-form form-horizontal" method="POST">
	<article class="content-wrapper">
		<fieldset>
			<legend>Domain Information</legend>
			
			{{ forms.text({
				title: "Name",
				field: "name",
				value: content.name
			}) }}
			
			{{ forms.select({
				title: "Type",
				field: "type",
				value: content.type,
				tuple: config.records.synctypes
			}) }}
			
			{{ forms.select({
				title: "Template",
				field: "zone_templ_id",
				placeholder: "No template",
				value: content.zone.zone_templ_id,
				tuple: templates
			}) }}
			
			{{ forms.textarea({
				title: "Comments",
				field: "comment",
				value: content.zone.comment
			}) }}
		</fieldset>
		
		{% if godmode %}
			<fieldset>
				<legend>Ownership</legend>
				
				{{ forms.select({ title: "Owner", field: "owner", value: content.zone.owner|default(user.id), key: "username", tuple: users }) }}
			<fieldset>
		{% endif %}
	</article>
	
	{% if content.id is not empty %}
		<table class="grid-table tall-rows" data-grid-table-group="records">
			<thead>
				<tr>
					<th width="22%">Name</th>
					<th width="15%">Primary NS</th>
					<th width="15%">Contact</th>
					<th width="8%">Serial</th>
					<th width="8%">Refresh</th>
					<th width="8%">Retry</th>
					<th width="8%">Expire</th>
					<th width="8%">Minimum</th>
					<th width="8%">TTL</th>
				</tr>
			</thead>
			
			<tbody>
				{% if records.soa|length %}
					{% for record in records.soa %}
						{% include "objects/record/grid-item-soa.twig" with { parent: content, content: record, suffix: content.name } %}
					{% endfor %}
				{% else %}
					{% include "objects/record/grid-item-soa.twig" with { parent: content, content: null, suffix: content.name } %}
				{% endif %}
			</tbody>
		</table>
		
		<table class="grid-table sortable tall-rows" data-grid-table-group="records">
			<thead>
				<tr>
					<th width="1%"></th>
					<th width="29%">Name</th>
					<th width="10%">Type</th>
					<th width="30%">Value</th>
					<th width="10%">Priority</th>
					<th width="10%">TTL</th>
					<th width="10%" class="actions">Actions</th>
				</tr>
			</thead>
			
			<tbody>
				{% for record in records.list %}
					{% include "objects/record/grid-item.twig" with { parent: content, content: record, suffix: content.name } %}
				{% endfor %}
				
				{% include "objects/record/grid-item.twig" with { parent: content, content: null, suffix: content.name, class: "placeholder-row" } %}
			</tbody>
		</table>
	{% endif %}
	
	<div class="pull-right">
		<button class="btn btn-primary" type="submit" name="commit" value="now">{% if content.id %}Update{% else %}Add{% endif %} domain</button>
	</div>
</form>

{% if content.id is not empty %}
	<form class="export-form form-horizontal" method="GET" action="{{ content.actions.export }}">
		<div class="pull-left">
			<select name="format">
				<option value="">Choose export</option>
				<option value="bind">BIND9</option>
				<option value="xml">XML</option>
				<option value="json">JSON</option>
			</select>
			
			<input type="hidden" name="prefix" value="1" />
			
		</div>
	</form>
{% endif %}

<br />

<script type="text/javascript">
	$(function()
	{
		$("[name = 'name']").on("keyup change", function(event)
		{
			var name = $(this).val() || "";
			
			$(".grid-table .with-suffix .suffix").attr("title", name).text("." + name);
		}).trigger("change");
		
		{% if config.records.priorities|length %}
			$(".grid-table").on("change", "[name $= '[type]']", function(event)
			{
				var row = $(this).parents("tr:first");
				var value = $(this).val();
				var list = {{ config.records.priorities.toArray()|json_encode|raw }} || [];
				
				list.indexOf(value) == -1 ? row.find("[name $= '[prio]']").addClass("hide") : row.find("[name $= '[prio]']").removeClass("hide");
			});
			
			$(".grid-table [name $= '[type]']").trigger("change");
		{% endif %}
		
		{% if content.id is not empty %}
			$(".export-form [name = 'format']").on("change", function()
			{
				$(this.form).trigger("submit");
			});
		{% endif %}
	});
</script>
