{% import "/includes/macros/form.twig" as forms %}

<h1>Test '{{ content.name }}' domain</h1>

<table class="grid-table sortable" data-grid-table-group="records">
	<thead>
		<tr>
			<th width="1%"></th>
			<th width="29%">Name</th>
			<th width="10%">Type</th>
			<th width="30%">Value</th>
			
			{% for type, list in nameservers %}
				{% for name, ips in list %}
					<th>
						{{ name|e }}
					</th>
				{% endfor %}
			{% endfor %}
		</tr>
	</thead>
	
	<tbody>
		{% for record in records %}
			<tr>
				<td></td>
				
				<td>
					{% if record.name|length %}
						{{ record.name|e }}
					{% else %}
						{{ content.name|e }}
					{% endif %}
				</td>
				
				<td>
					{{ record.type|e }}
				</td>
				
				<td>
					{{ record.content|truncate(30)|e }}
				</td>
				
				{% for type, list in nameservers %}
					{% for name, ips in list %}
						<td>
							{% if results[record.id] is defined and results[record.id][name] == true %}
								<i class="fa fa-check fc-green" aria-hidden="true"></i>
							{% else %}
								<i class="fa fa-times fc-red" aria-hidden="true"></i>
							{% endif %}
						</td>
					{% endfor %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>