<tr{% if class %} class="{{ class|e }}"{% endif %}>
	<td>
		{{ content.username }}
	</td>
	
	<td>
		{% if content.admin %}
			Admin
		{% else %}
			User
		{% endif %}
	</td>
	
	<td>
		{{ content.domains_no }}
	</td>
	
	<td class="actions">
		<ul class="tiny">
			<li>
				<a href="{{ content.actions.edit }}" class="tooltip" title="Edit">
					<i class="fa fa-edit"></i>
				</a>
			</li>
			
			<li class="remove">
				<a href="{{ content.actions.remove }}" class="tooltip" title="Remove">
					<i class="fa fa-trash-o"></i>
				</a>
			</li>
		</ul>
	</td>
</tr>