{% import "/includes/macros/form.twig" as forms %}

{% if content.id %}
	<h1>Edit '{{ content.name }}' template</h1>
{% else %}
	<h1>Add a new template</h1>
{% endif %}

<form class="validate-form form-horizontal" method="POST">
	<article class="content-wrapper">
		<fieldset>
			<legend>Template Information</legend>
			
			{{ forms.text({ title: "Name",        field: "name",  value: content.name  }) }}
			{{ forms.text({ title: "Description", field: "descr", value: content.descr }) }}
		</fieldset>
		
		{% if godmode %}
			<fieldset>
				<legend>Ownership</legend>
				
				{{ forms.select({ title: "Owner", field: "owner", value: content.owner|default(user.id), key: "username", tuple: users }) }}
			<fieldset>
		{% endif %}
	</article>
	
	<table class="grid-table">
		<thead>
			<tr>
				<th width="30%">Name</th>
				<th width="10%">Type</th>
				<th width="30%">Value</th>
				<th width="10%">Priority</th>
				<th width="10%">TTL</th>
				<th width="10%" class="actions">Actions</th>
			</tr>
		</thead>
		
		<tbody>
			{% for record in content.records %}
				{% include "objects/zonetemplaterecord/grid-item.twig" with { content: record } %}
			{% endfor %}
			
			{% include "objects/zonetemplaterecord/grid-item.twig" with { content: null } %}
		</tbody>
	</table>
	
	<div class="pull-right">
		<button class="btn btn-primary" type="submit" name="commit" value="now">{% if content.id %}Update{% else %}Add{% endif %} template</button>
	</div>
</form>

{% if config.records.priorities|length %}
	<script type="text/javascript">
		$(function()
		{
			$(".grid-table").on("change", "[name $= '[type]']", function(event)
			{
				var row = $(this).parents("tr:first");
				var value = $(this).val();
				var list = {{ config.records.priorities.toArray()|json_encode|raw }} || [];
				
				list.indexOf(value) == -1 ? row.find("[name $= '[prio]']").addClass("hide") : row.find("[name $= '[prio]']").removeClass("hide");
			});
			
			$(".grid-table [name $= '[type]']").trigger("change");
		});
	</script>
{% endif %}