<tr{% if class %} class="{{ class|e }}"{% endif %}>
	<td class="check">
		<input type="checkbox" name="selected[]" value="{{ content.id }}" />
	</td>
	
	{% if godmode %}
		<td>
			{{ content.user.username }}
		</td>
	{% endif %}
	
	<td>
		{{ content.name }}
	</td>
	
	<td>
		{{ content.records_no }}
	</td>
	
	<td class="actions">
		<ul class="tiny">
			<li>
				<a href="{{ content.actions.edit }}" class="tooltip" title="Edit">
					<i class="fa fa-edit"></i>
				</a>
			</li>
			
			<li class="remove">
				<a href="{{ content.actions.remove }}" class="tooltip" title="Remove">
					<i class="fa fa-trash-o"></i>
				</a>
			</li>
		</ul>
	</td>
</tr>