{% import "/includes/macros/form.twig" as forms %}

{% if content.id %}
	<h1>Edit '{{ content.name }}' domain</h1>
{% else %}
	<h1>Add a new domain</h1>
{% endif %}

<form class="validate-form form-horizontal" method="POST">
	<article class="content-wrapper">
		<fieldset>
			<legend>Domain Information</legend>
			
			{{ forms.text({
				title: "Name",
				field: "name",
				value: content.name
			}) }}
			
			{{ forms.select({
				title: "Type",
				field: "type",
				value: content.type,
				tuple: config.records.synctypes
			}) }}
			
			{{ forms.select({
				title: "Template",
				field: "zone_templ_id",
				placeholder: "No template",
				value: content.zone.zone_templ_id,
				tuple: templates
			}) }}
			
			{{ forms.textarea({
				title: "Comments",
				field: "comment",
				value: content.zone.comment
			}) }}
		</fieldset>
		
		{% if godmode %}
			<fieldset>
				<legend>Ownership</legend>
				
				{{ forms.select({ title: "Owner", field: "owner", value: content.zone.owner|default(user.id), key: "username", tuple: users }) }}
			<fieldset>
		{% endif %}
	</article>
	
	{% if content.id is not empty %}
		<table class="grid-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Value</th>
					<th>Priority</th>
					<th>TTL</th>
					<th class="actions">Actions</th>
				</tr>
			</thead>
			
			<tbody>
				{% for record in content.records %}
					{% include "objects/record/grid-item.twig" with { content: record } %}
				{% endfor %}
				
				{% include "objects/record/grid-item.twig" with { content: null } %}
			</tbody>
		</table>
	{% endif %}
	
	<div class="pull-right">
		<button class="btn btn-primary" type="submit" name="commit" value="now">{% if content.id %}Update{% else %}Add{% endif %} domain</button>
	</div>
</form>