<tr{% if class %} class="{{ class|e }}"{% endif %}>
	<td class="check">
		<input type="checkbox" name="selected[]" value="{{ content.id }}" />
	</td>
	
	{% if godmode %}
		<td>
			{{ content.user.username }}
		</td>
	{% endif %}
	
	<td>
		{{ content.name }}
	</td>
	
	<td>
		{{ content.type }}
	</td>
	
	<td>
		{% if content.serial == "0" %}
			&mdash;
		{% else %}
			{{ content.serial }}
		{% endif %}
	</td>
	
	<td>
		{{ content.records_no }}
	</td>
	
	<td class="actions">
		<ul class="tiny">
			<li>
				<a href="{{ content.actions.edit }}">
					<i class="fa fa-edit"></i>
				</a>
			</li>
			
			<li class="remove">
				<a href="{{ content.actions.remove }}">
					<i class="fa fa-trash-o"></i>
				</a>
			</li>
		</ul>
	</td>
</tr>