<tr{% if class %} class="{{ class|e }}"{% endif %}>
	<td class="move-bar">
	</td>
	
	<td class="with-suffix">
		<input type="text" name="records[{% if index is not empty %}{{ index|e }}{% endif %}][name]" value="{{ content.prefix|e }}" />
		<div class="suffix">.{{ suffix|default("[ZONE]")|e }}</div> 
	</td>
	
	<td>
		{% if config.records.types is iterable %}
			<select name="records[{% if index is not empty %}{{ index|e }}{% endif %}][type]">
				{% if not content.type %}
					<option value="">?</option>
				{% endif %}
				
				{% for type in config.records.types %}
					<option value="{{ type|e }}"{% if content.type == type %} selected="selected"{% endif %}>{{ type|e }}</option>
				{% endfor %}
			</select>
		{% endif %}
	</td>
	
	<td>
		<input type="text" name="records[{% if index is not empty %}{{ index|e }}{% endif %}][content]" value="{{ content.content|e }}" />
	</td>
	
	<td>
		<input type="text" name="records[{% if index is not empty %}{{ index|e }}{% endif %}][prio]" value="{{ content.prio|e }}" />
	</td>
	
	<td>
		{% if config.records.ttl is iterable %}
			<select name="records[{% if index is not empty %}{{ index|e }}{% endif %}][ttl]" class="editable-dropdown">
				{% if not content.ttl %}
					<option value="">?</option>
				{% endif %}
				
				{% if content.ttl is not empty and content.ttl not in config.records.ttl|keys %}
					<option value="{{ content.ttl|e }}" selected="selected">{{ content.ttl|e }} sec</option>
				{% endif %}
				
				{% for ttl, title in config.records.ttl %}
					<option value="{{ ttl|e }}"{% if content.ttl == ttl %} selected="selected"{% endif %}>{{ title|e }}</option>
				{% endfor %}
			</select>
		{% else %}
			<input type="text" name="records[{% if index is not empty %}{{ index|e }}{% endif %}][ttl]" value="{{ content.ttl|e }}" />
		{% endif %}
	</td>
	
	<td class="actions">
		<ul>
			<li class="clone">
				<a href="#">
					<i class="fa fa-plus"></i>
				</a>
			</li>
			
			<li class="remove">
				<a href="#">
					<i class="fa fa-trash-o"></i>
				</a>
			</li>
		</ul>
	</td>
</tr>